<template>
  <div class="search-container">
    <i class="search-icon material-icons">search</i>
    <input class="search-box"
      ref="search"
      type="search"
      name="search"
      placeholder="Type then hit enter or click search button to find jobs..."
      @keyup.enter="$emit('onSearchChanged', $refs.search.value)">
    <input type="button"
      value="Search"
      class="search-button"
      @click="$emit('onSearchChanged', $refs.search.value)"
    >
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.search {
  &-container {
    display: inline-flex;
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  &-icon {
    padding: 0.5rem;
  }
  &-box {
    border: 0;
    padding: 0.5rem;
    flex: 1;
  }
  &-button {
    background: #3498db;
    border: 0;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0;
    cursor: pointer;
  }
}
</style>
