<template>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Build with ♥️ using Vue.js by Rohmad Sasmito</span>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
  .container {
    text-align: center;
  }
  .text-muted {
    font-size: 14px;
  }
</style>
