<template>
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-green-sea rounded box-shadow">
    <img class="mr-3 bg-white"
      src="../../assets/logo.png"
      alt="logo">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">{{ title }}</h6>
      <small>{{ subtitle || 'Catalog for search new jobs.' }}</small>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'subtitle'],
};
</script>

<style lang="scss" scoped>
  .bg-green-sea {
    background-color: #16a085;
  }
  img.mr-3 {
    border-radius: 50%;
    padding: 2px;
    height: 48px;
    width: 48px;
  }
</style>
