<template>
  <div class="bg-white rounded box-shadow">
    <nav class="blog-pagination">
      <a class="btn btn-back" href="#" @click="$emit('onClickBack')">
        <i class="material-icons">arrow_back</i> Back
      </a>
    </nav>
    <div class="blog-post fade-in">
      <h4 class="blog-post-title">{{ `${detail.title} in ${detail.company}` }}</h4>
      <p class="blog-post-meta">{{ detail.type }} at <a href="#">{{ detail.location }}</a></p>
      <p v-html="detail.description"></p>
      <hr>
      <h5>Requirements</h5>
      <ol>
        <li v-for="(item, index) in detail.requirements.items" :key="index">
          {{ item }}
        </li>
      </ol>
      <h5>Benefit</h5>
      <ol>
        <li v-for="(item, index) in detail.benefit" :key="index">
          {{ item }}
        </li>
      </ol>
      <h5>Contact</h5>
      <ul>
        <li>Email:
          <a :href="`mailto:${detail.employer_contact.email}`">
            {{ detail.employer_contact.email }}
          </a>
        </li>
        <li>Phone: {{ detail.employer_contact.phone }}</li>
        <li>WA: {{ detail.employer_contact.whatsapp }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: ['detail'],
};
</script>

<style lang="scss" scoped>
  .blog-pagination {
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: #1abc9c;
    &.btn-back {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 90px;
    }
  }
  p {
    word-wrap: break-word;
  }
  .blog-post {
    margin: 0 2rem 4rem;
    // transition: opacity 1s ease-in-out;
    &-title {
      margin-bottom: .25rem;
      font-size: 2.5rem;
    }
    &-meta {
      margin-bottom: 1.25rem;
      color: #999;
    }
  }
</style>
