<template>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">All jobs</h6>
    <div v-if="!jobs.length && !isAlready" class="loading">
      Loading...
    </div>
    <div v-if="!filterJobs.length && filter.length > 0">
      Nothing data found.
    </div>
    <div class="media text-muted pt-3 fade-in" v-for="(job, index) in filterJobs" :key="index">
      <a href="#"
        class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"
        @click="$emit('onTitleChanged', job)"
        >
        {{ `${job.company} - ${job.title}` }}
        <span class="badge badge-info">{{ job.type }}</span>
      </a>
    </div>
  </div>
</template>

<script>
import httpClient from './../../helpers/http';

export default {
  props: ['filter'],
  created() {
    this.getJobs();
  },
  computed: {
    filterJobs() {
      const self = this;
      if (!self.filter) return self.jobs;
      const results = self.jobs.filter(job => self.getIndex(job.company)
        || self.getIndex(job.title));
      return results;
    },
  },
  data() {
    return {
      jobs: [],
      isAlready: false,
    };
  },
  methods: {
    getIndex(text) {
      if (!text) return false;
      return text.toLowerCase().indexOf(this.filter) > -1;
    },
    getJobs() {
      const self = this;
      httpClient.getJobs().then((response) => {
        const data = response.data;
        self.jobs = data;
        self.isAlready = true;
      }, (err) => {
        console.log('something went wrong', err);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
  a {
    color: #2c3e50;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
  .loading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  .media-body {
    transition: opacity 1s ease-in-out;
  }
</style>

