<template>
  <div class="container">
    <!-- Todo: perlu ditambahkan pencarian jobs -->
    <Header :title="isDetail ? 'Detail Job' : 'List Jobs'"/>
    <FieldSearch v-if="!isDetail" @onSearchChanged="onSearchChanged"/>
    <JobList v-if="!isDetail" @onTitleChanged="onTitleChanged" :filter="keyword"/>
    <JobDetail :detail="detail" v-if="isDetail" @onClickBack="isDetail=false"/>
    <Footer/>
  </div>
</template>

<script>
import Header from './Includes/Header';
import Footer from './Includes/Footer';
import JobList from './Jobs/JobList';
import JobDetail from './Jobs/JobDetail';
import FieldSearch from './Includes/FieldSearch';

export default {
  components: {
    Header,
    Footer,
    JobList,
    JobDetail,
    FieldSearch,
  },
  computed: {
    keyword() {
      return this.filter;
    },
  },
  data() {
    return {
      isDetail: false,
      detail: {},
      filter: '',
    };
  },
  methods: {
    onTitleChanged(value) {
      this.detail = value;
      this.isDetail = true;
    },
    onSearchChanged(value) {
      this.filter = value;
    },
  },
};
</script>
