<template>
  <div id="app">
    <Main/>
  </div>
</template>

<script>
import Main from './components/Main';

require('./assets/scss/app.scss');

export default {
  name: 'App',
  components: {
    Main,
  },
};
</script>
